$default-background:black;
$default-text-color:white;
$contrast-background:white;
$contrast-text-color:black;
$default-font:"Comic Sans MS", cursive, sans-serif;

.blank0 {
  font-family:$default-font;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: $default-background;
  color: $default-text-color;
}

.header {
  @extend .blank0;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  background: $contrast-background;
  color: $contrast-text-color;
}

.post {
  width: 95%;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  background: $contrast-background;
  color: $contrast-background;
}