$default-background:black;
$default-text-color:white;
$contrast-background:white;
$contrast-text-color:black;
$default-font:"Comic Sans MS",cursive,sans-serif;
@mixin reset($m, $p, $align:null) {
    margin: $m;
    text-align: $align;
    padding: $p;
}

@mixin blank($bckgrn, $txt) {
    background: $bckgrn;
    color: $txt;
}

.blank0 {
    font-family: $default-font;
}

* {
    @include reset(0, 0);
}

html {
    @include blank($default-background, $default-text-color);
}

.header {
    @extend .blank0;
    @include reset(0 auto, 15px, center);
    @include blank($contrast-background, $contrast-text-color);
}

.post {
    @include reset(0 auto, 10px 0, center);
    @include blank($contrast-background, $contrast-text-color);
    width: 95%;
}
.extLinks{
    @include blank(lightblue, $contrast-text-color);
    @include reset(0 auto, 10px 0, center);
    width:75%;
}
a{
    text-decoration:none;
}
a:link,a:active,a:visited{
    color:black;
}
a:hover{
    color:purple;
}